/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  /* Same as the background color of the page */
}

::-webkit-scrollbar-thumb {
  background-color: white;
  /* Custom scrollbar color */
  border-radius: 10px;
  border: 2px solid white;
  /* Same as the background color of the page */
}


.next-button {
  position: relative;
  font-size: 14px;
  letter-spacing: 3px;
  height: 3em;
  padding: 0 3em;
  border: none;
  background-color: #449082;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 5px
}

.next-button::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background: #449082;
  background: linear-gradient(90deg, #449082 20%, #449082 100%);
  transition: 0.2s;
}

.next-button .label {
  position: relative;
}

.next-button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  position: absolute;
  top: 3em;
  right: 0;
  opacity: 0;
  transition: 0.4s;
}

.next-button:hover::before {
  height: 100%;
}

.next-button:hover .icon {
  top: 0;
  opacity: 1;
}

.search-panels {
  --default-color: #000;
  --color-text: #000;
  --color-active: #e5fffc;
  --color-active-input: #000;
  --transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --width-input: 26vw;
}

.search-group {
  position: relative;
}
.loader {
  width: 12px;
  height: 12px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: 10px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.input {
  width: var(--width-input);
  border: solid 1.5px var(--default-color);
  border-radius: 80px;
  background: none;
  padding: 1rem;
  margin-left: 25px;
  margin-top: 10px;
  font-size: 1rem;
  color: var(--color-active-input);
  transition: border var(--transition);
}

.enter-label {
  position: absolute;
  margin-left: 30px;
  margin-top: 10px;
  left: 25px;
  color: var(--default-color);
  pointer-events: none;
  transform: translateY(1rem);
  transition: var(--transition);
}

.enter-label {
  color: var(--default-color);
  pointer-events: none;
}

.input:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--color-active);
}

.input:focus~label,
input:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--color-active);
  border-radius: 20px;
  padding: .2em .6em;
  color: var(--color-text);
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1em;
  right: 80%;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 100%;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
  opacity: 0;
}

.input:focus~.btn-box,
input:valid~.btn-box {
  right: 10%;
  opacity: 1;
  transition-delay: 0s;
  transition: var(--transition);
}

.input:not(:focus)~.btn-box,
input:not(:valid)~.btn-box {
  transition-property: right, opacity;
  transition-delay: 300ms;
}

.input:focus~.btn-box:hover,
input:valid~.btn-box:hover {
  transform: scale(1.2);
}

.input:focus~.btn-box:hover:active,
input:valid~.btn-box:hover:active {
  transform: scale(1);
}

.btn-search {
  position: relative;
  cursor: pointer;
  background-color: var(--color-active);
  width: 2em;
  height: 2em;
  top: 2.5px;
  border: none;
  border-radius: 100%;
  padding: 0;
  transition: var(--transition);
}

.btn-search:active {
  transform: scale(1);
}

.btn-search svg {
  position: absolute;
  top: 25%;
  left: 25%;
  fill: var(--color-text);
  width: 12px;
  height: 12px;
}

#svg-circle {
  fill: var(--color-text);
  transition: var(--transition);
}

.input:focus~.btn-box:hover #svg-circle,
input:valid~.btn-box:hover #svg-circle {
  fill: transparent;
}

.btn-box-x {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1em;
  right: 7%;
  margin-left: 30px;
  margin-top: 10px;
  opacity: 0;
  transform: rotate(-90deg) scale(.1);
  transition: var(--transition);
}

.input:focus~.btn-box-x,
input:valid~.btn-box-x {
  opacity: 1;
  transform: rotate(0) scale(1);
}

.btn-cleare {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 100%;
  padding: 0;
  transition: var(--transition);
}

.btn-cleare svg {
  width: 15px;
  height: 15px;
}

#cleare-line {
  fill: var(--default-color);
}

.btn-box-x:hover #cleare-line {
  fill: var(--color-active);
}


.checkbox-container {
  cursor: pointer;
  margin-right: 30px;
}

.checkbox-container input {
  display: none;
}

.checkbox-container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: #000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.checkbox-container input:checked~svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}


/* 
.scroll-to-reference-button {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: #000;
  background: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding-bottom: 2em;
  cursor: pointer;
  z-index: 1000;
}

.scroll-to-reference-button>div,
.scroll-to-reference-button>svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.scroll-to-reference-button:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.scroll-to-reference-button:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.scroll-to-reference-button .clone>*,
.scroll-to-reference-button .text>* {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

.scroll-to-reference-button .clone>* {
  transform: translateY(60px);
}

.scroll-to-reference-button:hover .clone>* {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.scroll-to-reference-button:hover .text>* {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.scroll-to-reference-button:hover .clone> :nth-child(1) {
  transition-delay: 0.15s;
}

.scroll-to-reference-button:hover .clone> :nth-child(2) {
  transition-delay: 0.2s;
}

.scroll-to-reference-button:hover .clone> :nth-child(3) {
  transition-delay: 0.25s;
}

.scroll-to-reference-button svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

.scroll-to-reference-button:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}
 */
.cssbuttons-io-button {
  padding: 0 3em;
  border-radius: 5px;
  background: transparent;
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: #e5fffc;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #fff;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
.question-enter-left {
  transform: translateX(100%);
}

.question-enter-left-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.question-exit-left {
  transform: translateX(0);
}

.question-exit-left-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.question-enter-right {
  transform: translateX(-100%);
}

.question-enter-right-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.question-exit-right {
  transform: translateX(0);
}

.question-exit-right-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}
.button-scroll {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b1ffe8;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}

.svgIcon {
  width: 12px;
  rotate: 180deg;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: black;
}

.button-scroll:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #e5fffc;
  align-items: center;
}

.button-scroll:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button-scroll::before {
  position: absolute;
  bottom: -20px;
  content: "Scroll to References";
  color: black;
  font-size: 0px;
}

.button-scroll:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}


.Radio input[type="radio"] {
  position: absolute;
  left: -100px;
}
.Radio input[type="radio"] + label {
  position: relative;
  display: block;
  line-height: 3rem;
  cursor: pointer;
  white-space: nowrap;
  color: #61cea5;
}

.Radio input[type="radio"] + label::before,
.Radio input[type="radio"] + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.5s;
}

.Radio input[type="radio"] + label {
  padding-left: 3rem;
}

.Radio input[type="radio"] + label::before {
  width: 2rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #61cea5;
}

.Radio input[type="radio"] + label::after {
  left: 0.2rem;
  width: 1.4rem;
  transform: translateY(-50%) scale(0);
}

.Radio input[type="radio"]:not(:checked) + label::after {
  animation: radio 0.5s linear;
}

.Radio input[type="radio"]:checked + label::after {
  transform: translateY(-50%) scale(1);
}

.Radio input[type="radio"] + label::after {
  aspect-ratio: 1 / 1;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  background: radial-gradient(circle at 70% 30%, #fff, rgba(0, 0, 0, 0) 25%),
    radial-gradient(
      circle at 60% 55%,
      rgba(0, 0, 0, 0) 60%,
      rgba(255, 0, 255, 0.8) 100%
    ),
    radial-gradient(
      circle at 50% 50%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 255, 255, 0.2) 60%,
      rgba(0, 0, 0, 0) 68%
    ),
    radial-gradient(
      circle at 50% 55%,
      rgba(0, 0, 0, 0) 35%,
      rgba(255, 255, 0, 0.2) 45%,
      rgba(0, 0, 0, 0) 55%
    );
}

@keyframes radio {
  0% {
    transform: translateY(-50%) scale(1);
  }
  100% {
    transform: translateY(-50%) scale(1.7);
  }
}
